<ul>
	<% recentlists.each do |list|%>
	<li>
		<span class="recentimage"><%= case list.army_id
			when 1 then image_tag("Ariadna-small.png")
			when 2 then image_tag("IAECombinado-small.png")
			when 3 then image_tag("Haqqislam-small.png")
			when 4 then image_tag("Nomadas-small.png")
			when 5 then image_tag("PanOceania-small.png",:width=>'20',:height=>'20')
			when 6 then image_tag("YuJing-small.png")
			when 7 then image_tag("LogoMERCS-small.png")
			when 8 then image_tag("PanOceania-small.png",:width=>'20',:height=>'20')
			when 9 then image_tag("PanOceania-small.png",:width=>'20',:height=>'20')
			when 10 then image_tag("PanOceania-small.png",:width=>'20',:height=>'20')
			when 11 then image_tag("YuJing-small.png")
			when 12 then image_tag("YuJing-small.png")
			when 13 then image_tag("Caledonia-small.png")
			when 14 then image_tag("Ariadna-small.png")
			when 15 then image_tag("Hassassin-small.png")
							
			when 16 then image_tag("Haqqislam-small.png")
			when 17 then image_tag("IAECombinado-small.png")
			when 18 then image_tag("IAECombinado-small.png")
			when 19 then image_tag("Nomadas-small.png")
			when 20 then image_tag("Nomadas-small.png")
			when 21 then image_tag("aleph-small.png")
			end
								%></span>
								<span class="recentlink">
	<%=link_to h(list.name), user_army_list_url(list.user_id,list)%></span></li>	
	<%end%>
</ul>
