body{font-size:.8em;}
h3{border-bottom:solid black 2px;}
th{border-bottom:solid #AAA 2px}
td{border-bottom:solid #AAA 1px;}
.listimage img{margin:0;}
.listimage{float:left;margin-right:20px;}
.factiontitle{
	text-align:center;
}

.combatgroupheader{

	height:30px;
	border-bottom:solid black 2px;
	font-size:1.3em;
	margin-bottom:20px;
	
}
