body{
	background:#1e1e1e;
	color:#d2d2d2;
}
.pagetitle{
	margin-top:25px;
	margin-left:40px;
}
.container{
	background:#303030;
	
}
h1,h2,h3,h4,h5,h6{
	color:#d2d2d2;
	
}
.listtable{
	width:800px;
}
.header{height:100px;background-image:url(/images/infinitypoolheader.png);}
.header h1{color:#DDD;}
.altrow{background:#AAA;}
th{background:#303030;color:#DDD;}
tr{background:#444;}
td{}
.navbar{height:30px;
		background:url('/images/bluegrad.png');
		
		}
		
.navbar a,.navbar a:hover{
	color:#1e1e1e;
	font-size:1.5em;
}
	
	
.navbar ul{
	list-style-type:none;
}
.navbar li{
	float:left;
	margin-left:20px;
	}
	
.listtitle{
	font-size:2em;
	
}
.listtitlegroup{


	
}
.listtitleactions{

}
.liststats{
	float:left;
	margin-top:5px;
		border-right:solid #1e1e1e 1px;
		padding-right:20px;
	}
.listdescription{
	float:left;
	margin-left:20px;
	width:250px;
	height:50px;
}
a{
	color:#098eff;
	text-decoration:none;
}

a:hover{
	color:#098eff;
	text-decoration:underline;
}
.combatgroupheader,.addunitheader{
	background:url('/images/greygrad.png');
	height:30px;
	border-left:solid 1px #1e1e1e;
	border-top:solid 1px #1e1e1e;
	border-right:solid 1px #1e1e1e;
	
}
.textheader{
	font-size:1.3em;
	border-top:solid 1px #1e1e1e;
	border-left:solid 1px #1e1e1e;
	border-right:solid 1px #1e1e1e;
	margin:30px 0 0 0;
	padding:3px 0 3px 20px;
	background:url('/images/greygrad.png');
	
}
.addunitblock{
	border:solid 1px #1e1e1e;
		background:#444;
}
.textblock{border:solid 1px #1e1e1e;padding:20px;
		
		background:#444;
	}
.combatgrouptitle,.addunittitle{font-size:1.2em;margin-top:3px;}
.combatgroupactions{margin-top:3px;}
table{
	border:solid 1px #1e1e1e;
	border-spacing:1px;
}
.error {
background:#FF9E9E none repeat scroll 0 0;
border-color:#B20000;
color:#1E1E1E;
}
.listimage{
	float:left;
	
}
.listinfo{
	float:left;
	margin-left:20px;
}
.factiontitle{
	text-align:center;
}
.rowactions{
	width:40px;
	
}
.unitselect{
	float:left;
	width:150px;
	
}
.unitselect ul{
	list-style-type:none;
}
.actions{margin-top:5px;}
.unit{margin-top:5px;}
.unitheader{background:#444;height:30px;border:solid #444 1px;cursor:pointer;}
.unitheader .unitname{margin-top:3px;}
.unitheader .specialist{}
.unitdetails{background:#444;margin-top:5px;display:none;}
.swccost{margin-top:3px;}
.expand img{margin:3px 5px 0 3px;}
.expand{}
.orderspan{margin-top:3px;}
.ui-corner-all{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}
.active{border:solid #098eff 1px;}
#addunitdiv{
	
	display:none;
}
.hide-text{
	text-indent:-99999px;
	position:absolute;
}
.login-controls{
	margin-top:80px;
	margin-left:60px;
	
}
#recentlists li{
	margin:3px;
	
}
#recentlists ul{
	list-style:none;
	padding:0;
	margin:0;
}
.recentlink{
	
	
}
.recentimage{
	position:relative;
	top:5px;
}
.sharing{
	width:240px;
	padding:5px;
	float:left;
}
.sharing textarea{
	width:240px;
	height:100px;
	background:#aaa;
	overflow:hidden;
	
}

#bbcode{
	display:none;
	position:absolute;
	margin-top:20px;
	background:#444;
	padding:10px;
	border:solid black 1px;
}
#togglebbcode{
	
}

.lightinf{color:#00f935;}
.mediuminf{color:yellow;}
.heavyinf{color:#ef0000;}
.scout{color:#c500ef;}
.warband{color:teal;}
.remote{color:brown;}
.tag{color:#ff6600;}