
<h2 class="textheader">Welcome To Infinity Pool</h2>
<div class="textblock">
<p>Infinity Pool is a web based army building app for the table top game infinity. It is currently in alpha right now so stay tuned for more information.</p>

<p>Currently there has been very little styling of the pages, this is not the final look of the app, I want to get it functional first.</p>
<h3>Example List</h3>
<p>Infinity pool makes it easy to link a list to your friends <%=link_to "Yu Jing Example",army_list_path(:id=>2)%></p>
<h3>Demo Account</h3>
<p><strong>Login:</strong> test <br /><strong> Password:</strong> 123456 <br />
<%=link_to "Login Here", login_path %></p>
<h3>Testers:</h3>
<p>Currently all army data is loaded.</p>
</div>
