<h1>Welcome To Infinity Pool</h1>
<p>Infinity Pool is a web based army building app for the table top game infinity. It is currently in alpha right now so stay tuned for more information.</p>
<p>Currently there has been very little styling of the pages, this is not the final look of the app, I want to get it functional first.</p>

<h3>Testers:</h3>
<p>Currently there is only troop data loaded for Ariadna, so if you create an army list with something other than that army you wont see anything come up.</p>

<p>I will get the rest of the data loaded into the system tomorrow (data entry stinks...)</p>
