
<h2 class="textheader">Welcome To Infinity Pool</h2>
<div class="textblock">
<p>Infinity Pool is a web based army building app for the table top game infinity. It is currently in beta right now but free to use. </p>


<h3>Example List</h3>
<p>Infinity pool makes it easy to link a list to your friends <%=link_to "Yu Jing Example",army_list_path(:id=>2)%></p>

<h3>Demo Account</h3>
<p><strong>Login:</strong> test <br /><strong> Password:</strong> 123456 <br />
<%=link_to "Login Here", login_path %></p>
<p>If you like what you see in the demo account you can <%=link_to "sign up",signup_path%> for your own account. This gives you your own place to save your lists.</p>
</div>
<h2 class="textheader">Print View Font Increased</h2>
 <div class="textblock">
<p>The print view font was a little small and made it hard to look up units quickly. It is now bigger so printouts should be much easier to read.
</div>
<h2 class="textheader">100 Active Accounts with over 800 lists</h2>
 <div class="textblock">
<p>infinity pool has just hit 100 active accounts and continues to grow at a rapid pace. There are also over 800 individual lists in the system now.</p>
<p>Given the number of people using the site regularly, would a rating and comment system make infinity pool better? You would be able to search by list size and faction, view the newest created lists, rate and leave comments</p>
<p>Send me your thoughts <a href="mailto:alan.hietala@gmail.com">alan.hietala@gmail.com</a></p> 
</div>
<h2 class="textheader">June 18, 2009 UI Update</h2>
 <div class="textblock">
<p>The UI has been updated. The main army list screen now only shows the important information that you need for army building. All of the unit stats are available in an expandable section by clicking the + sign at the left of the listed unit.</p>
<p>This Section also will be used to show unit pictures and other additional information related to the unit.</p>
</div>
<h2 class="textheader">June  15, 2009 Update</h2>
<div class="textblock">
<p> Mercenaries added to the system. You can now add both the mercenary army list type and mercenaries to regular army lists. Validation should occur properly availability will show as the non merc one in the list but it is calculated properly for valication reasons. I will fix the display issue in the next push.
</div>
<h2 class="textheader">June  2, 2009 Update</h2>
<div class="textblock">
<p>Fixed many errors with point values and incorrect items. Added some missing units. Check your lists to make sure they still validate!</p>
</div>

<h2 class="textheader">May 27, 2009 Update</h2>
<div class="textblock">
	<p>Joan of Arc 2.0 and Nasmat remotes have been addded to the system. Joan 2.0 is fast, heavily armed and a general pain and the nasmat remotes are a cheap way for their operator to extend their visual range.</p>
</div>
<h2 class="textheader">Recent Updates:</h2>
<div class="textblock">
<h3>Print View Greatly Improved</h3>
<p>The Print view has undergone an overhaul. It looks a lot better and the font has been decreased in order to fit more on the page.</p>
<h3>CM Measurement Added</h3>
<p>You may now select your unit of measurement from the Settings page</p>
<p>If you see any bugs please let me know at alan -dot- hietala -at- gmail.com </p>
</div>
