<h1>Listing unit_types</h1>

<table>
  <tr>
  </tr>

<% for unit_type in @unit_types %>
  <tr>
    <td><%= link_to 'Show', unit_type %></td>
    <td><%= link_to 'Edit', edit_unit_type_path(unit_type) %></td>
    <td><%= link_to 'Destroy', unit_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New unit_type', new_unit_type_path %>
